{%- if site.posts.size > 0 -%}
	<h2 id="posts" class="post-list-heading">{{ include.title | default: "Posts" }}</h2>
	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
	<ul class="post-list">
		{%- for post in site.posts limit:include.limit -%}
		<li>
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		<span class="post-meta">{{ post.date | date: date_format }}</span>
		<h3>
			<a class="post-link" href="{{ post.url | relative_url }}">
			{{ post.title | escape }}
			</a>
		</h3>
		{%- if post.subtitle -%}
			<h4><i>{{ post.subtitle | escape }}</i></h4>
		{%- endif -%}
		{%- if include.show_excerpts -%}
		  {{ post.excerpt }}
		{%- endif -%}
		</li>
		{%- endfor -%}
	</ul>
	{%- if include.limit and site.posts.size > include.limit -%}
		<a href="{{ "/blog" | relative_url }}">...view all posts</a>
	{%- endif -%}
{%- endif -%}
